:root {
  --font-sans: system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI";
  --bg-page: #080a0e;
  --foreground-text: #D9D9D9;
  --secundary-text: #808080;

  --bg-card: #0f0f10;
  


    --border-primary: #1e1e1f;

}
* {
  text-decoration: none;
  color: var(--foreground-text);
}

html,
body {
  margin: 0;
  width: 100%;
  min-height: 100%;
  background: var(--bg-page);
  color: var(--foreground-text);
  font-family: var(--font-sans); 
  text-decoration: none;
}

main {
  max-width: 1050px;
  margin: 0 auto;
  padding: 2rem;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: transparent;
}

.logo {
  display: fixed;
  width: 80px;
  height: 80px;
}

.article-section {
  display: grid;
 grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto auto auto;
  gap: 5px;
 } 

.article-card {
  grid-column: 4/13;
  background-color: var(--bg-card);
  height: 250px;
  padding: 10px;
  width: 700px;
  border: 1px solid var(--border-primary);
  border-radius: 10px;
}

